[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
sqlalchemy = "*"
sqlalchemy-utils = "*"
passlib = "*"
prettyconf = "*"
pydantic = "*"
uvicorn = "*"

[dev-packages]
asynctest = "*"
codecov = "*"
factory_boy = "*"
ipdb = "*"
ipython = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-deadfixtures = "*"
pytest-env = "*"
pytest-randomly = "*"

[requires]
python_version = "3.8.2"
